@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
  --bg: #1A0B2E;
  --bg2: #230E3D;
  --white:#ffff;
  --green:#00FF85;
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--bg);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}
}
.header {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    width: 100%;
}
 .nav-container{
    display: flex;
    justify-content: space-between;
    /* max-width: 1600px;
    width:min(1100px, calc(100% - 40px)); */
    margin:0 auto;
    padding: 16px 200px;
    background-color:var(--bg);
 }
.nav-links{
    display: flex;
    justify-content: center;
    gap: 28px;
    font-size: 16px;
    list-style-type: none;
    align-items: center;
}
.nav-links a{
    text-decoration: none;
}
h2{
    font-weight:800;
    font-size:46px;
    letter-spacing:.3px;
}
.white{
    color: white;
}
.pink{
   background:linear-gradient(90deg, #ff2db7, #6e56ff);
  -webkit-background-clip:text;
  background-clip:text;
  color:transparent;  
}
.btn-primary{
    background: linear-gradient(90deg, #ffb800 0%, #ff2db7 55%, #7a5cff 100%);
    box-shadow: 0 12px 35px rgba(255,45,183,.22);
    border-radius: 999px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:8px;
    padding:12px 18px;
    border:1px solid transparent;
    font-weight:600;
    font-size:14px;
}
.btn:hover{
    transform: translateY(-3px);
}
.hero{
   background: url("/assets/hero-bg.png") center;
   background-size: cover;
   width: 100%;
   min-height: 80vh;
   padding: 100px 0; 
   display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-img{
    background: url("/assets/hero-circle.png") center no-repeat;
    width:370px;
    height:370px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
    position: relative;
}
.hero-img img{
    width: 110px;
    height: auto;
}
.badge{
    background-color: var(--green);
    position: absolute;
    color: var(--bg);
    right: 1px;
    top: 10px;
    border-radius: 999px;
    font-size:18px;
    font-weight:800;
    padding:6px 12px;
    box-shadow: 0 5px 5px rgba(144,255,122,35);
}
.hero h1{
    font-size:48px;
    font-weight:800;
    margin: 20px 0 8px;
}
.hero p{
    font-size: 14px;
    margin-bottom: 24px;
}
.hero-btn{
    display: flex;
    gap: 8px;
    justify-content: center;
}
 .hero .msg{
    background: transparent;
    border: 1px solid #00FF85;
    padding: 10px 25px;
    border-radius: 50px;
    color: #00FF85;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .about{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
 }
 .bold-title{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
 }
 .text, .sub-text{
    font-size: 15px;
    line-height: 20px;
 }
.sub-text{
    margin-top: 30px;
    display: block;
    margin-bottom: 70px;
}
hr{
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}
.star{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 70px;
    padding: 0 40px;
}
.star-item{
    text-align: center;
}
.star-number{
    font-size: 32px;
    font-weight: 800;
    color: var(--green);
    margin-bottom: 8px;
}
.star-text{
    font-size: 12px;
    text-transform: uppercase;
}
.choose{
    padding: 50px 0;
    background-color: var(--bg2);
}
.choose-container{
    max-width: 1140px;
    margin: 0 auto;
    width: 90%;
}
.choose-grid{
    display: grid;
    grid-template-columns:  0.7fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
    margin-top: 20px;
}
.content{
    background-color: rgba(53, 17, 101, 0.4);
    border: 1px solid rgba(255,255,255,.06);
    border-radius: 40px;
    padding: 40px;
    /* display: flex;
    flex-direction: column; */
}
.tall{
    grid-row: span 2;
}
.short{
    grid-column: span 2;
}
.icon{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
.title{
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 16px;
}
.details{
    font-size: 13.5px;
    line-height: 1.5;
    /* margin: 0; */
}

